.encompassing{
  padding: 10px;
}

.container {
  width: 60%;
  height: 95vh;
  background-color:#808080;
  float:left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 5px solid #203B29;
  border-top: 5px solid #203B29;
  border-bottom: 5px solid #203B29;
}

.schedule{
  background-color: #5F9EA0;
  width: 40%;
  float: right;
  border: 5px solid #203B29;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scheduleTitle{
  text-align: center;
  margin-bottom: 40px;
  margin-top: -120px;
  color: #203B29;
}

.items1 {
  border: 3px solid #203B29;;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #427A55;
  color: #87FAAE;
}

.items2 {
  border: 3px solid #203B29;;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #427A55;
  color: black;
}

.tfont{
  font-size: 35px;
}

.title{
  text-align: center;
  margin: 0 auto;
  width: 70%;
  color: #79E09C;
  margin-bottom: 20px;
}

.digitalwatchouter{
  height: 300px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #203B29;
}

.digitalwatchinner{
  height: 270px;
  width: 270px;
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #427A55;
}

.time{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-size: 47px;
  color: #87FAAE;
}

.date{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-size: 22px;
  color: #87FAAE;
}

.btns{
  text-align: center;
  margin: 0 auto;

}

.tbtn{
  margin-top: 20px;
  background-color: #417378;
  border: 1px solid #417378;
  color: white;
  border-radius: 30px;
}

.tbtn:hover, .tbtn:active{
  background-color: #A4CFBE;
  border: 1px solid #A4CFBE;
  color:black;
}

.tbtn:focus{
  margin-top: 20px;
  background-color: #417378;
  border: 1px solid #417378;
  color: white;
  border-radius: 30px;
}
