.overallContainer{
width: 100%;
}

.expectations{
  width: 50%;
  display: inline-block;
  vertical-align: top;
  background-color: #008ac3;
  border-left: 5px solid #203B29;
  border-top: 5px solid #203B29;
  border-bottom: 5px solid #203B29;
  color: #9ce2ff;
}

.expectationsTitle, .jobsTitle{
  font-size: 20px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  border-bottom: 5px dotted #004561;
  font-weight: bold;
}

.handglyph, .rle{
  display: inline-block;
}

.handglyph{
  width: 8%;
  vertical-align: top;
  color: #004561;

}

.rle{
  width: 90%;
}

.navigation{
  width: 100%;
  border: 1px solid red;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.backtobtn, .todaysactivities{
  width: 100%;
  border-radius: 20px;
  background-color: #004561;
  border: 1px solid #004561;
  color: #9ce2ff;
}

.removelinkdec{
  text-decoration: none;
  color: #9ce2ff;
}

.removelinkdec:hover, .removelinkdec:active, .removelinkdec:focus{
  text-decoration: none;
  color: #004561;
}

.backtobtn:hover, .backtobtn:active, .backtobtn:focus,
.todaysactivities:hover, .todaysactivities:active, .todaysactivities:focus {
  background-color: #9ce2ff;
  border: 1px solid #9ce2ff;
  color: #004561;
}

.backtobtn{
  margin-bottom: 39px;
}

.jobsTitle{
  margin-bottom: 10px;
}

.jobs {
  width: 50%;
  border: 5px solid #203B29;
  display: inline-block;
  color:#203B29;
  background-color: #88bd00
}

.image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 6px solid #be3600;
}


.studentName {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #203B29;
}

.jobBox{
  width: 93%;
  margin: 0 auto;
  text-align: center;
}

.jobrow {
  width: 48%;
  margin: 0 auto;
  text-align: center;
  color: #203B29;
  border-bottom: 5px dotted #203B29;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 10px;
}

.titl{
  width: 100%;
  text-align: center;
  color: black;
  font-size: 17px;
  font-weight: bold;
}

.jtitle1, .jtitle2{
  display: inline-block;
  color: #203B29;
}

.jtitle{
  width: 100%;
  color: white;
  color: #203B29;
  font-weight: bold;
  margin-top: 5px;
}

.jtitle1{
  width:49%;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}

.jtitle2{
  width: 49%;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}

.studentImage{
  display: inline-block;
  margin: 0 auto;
  width: 50%;
  margin-top: 7px;
}

.rule{
  margin: 10px;
  font-size: 18px;
  padding: 10px;
}

.nobottomborder{
  border-bottom: none;
}
