.Sports, .Ranking, .Loud, .Dance, .Announce, .Trips{
  margin: 0 auto;
  display: inline-block;
  width: 48%;
  border: 2px solid black;
  text-align: center;
  height: 400px;
  margin: 10px;
  border: 5px solid white;
}

.activitiesContainer{
  background-color: #008ac3;
}
