.outer{
  display: inline-block;
  width: 48%;
  text-align: center;
  margin: 0 auto;
}

.Sports, .Ranking, .Loud, .Dance, .Announce, .Trips{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  height: 400px;
  margin: 10px;
  border: 8px dotted white;
  background-color: #00b4fe;
}

.inner{
  margin: 0 auto;
  text-align: center;
  width: 96%;
  border: 8px solid #b30000;
  border-radius: 20px;
  height: 358px;
  background-color: #008ac3;
  box-shadow: inset 5px 3px 4px rgba(0,0,0,0.4);
}

.activitiesContainer{
  background-color: #008ac3;
  text-align: center;
  margin: 0 auto;
}
